<div class="flex-center">
    <a href="http://github.com/nabilfarhann"><i class="fab fa-github fa-4x icon-3d"></i></a>
    <a href="mailto:nnabilfarhan@email.com"><i class="fas fa-inbox fa-4x icon-3d"></i></a>
    <a href="http://instagram.com/nabilfarhann"><i class="fab fa-instagram fa-4x icon-3d"></i></a>
    <a href="http://github.com/nabilfarhann"><i class="fab fa-git fa-4x icon-3d"></i></a>
</div>

<script type="text/javascript" src="javascripts/about.js"></script>