<div class="content-body">
    <section class="center">
        <article>
            <h1 class="thank-header">Thank You!</h1>
            <p class="thank-description">We'll get back to you soon.</p>
        </article>
    </section>
</div>